extend ../layout
block content
    div(class='col-md-8')
        div(class='panel panel-success')
            div(class='panel-heading')
                span #{lingua.header.main.pages.questions}

                div(class='btn-group right-align')
                    a(href='#{newQuestionUrl}',class='btn btn-success btn-header')
                        span(class='glyphicon glyphicon-plus')
                        span #{lingua.questions.ask_question}

            div(class='panel-body unspace')
                if( questions.length > 0 )
                    table(class='table table-hover table-striped',width='100%',cellspacing='0',cellpadding='10')
                        each question in questions
                            tr
                                td
                                    a(href='/questions/#{question.slug}',target='_self') #{question.title}
                                td(class='date-icon')
                                    span(class='glyphicon glyphicon-time')
                                td(class='date') #{question.date}
    div(class='col-md-4')
        include ../sidebar-streaming
    script(type='text/javascript').
        nav.select('questions');