extend ../layout
block content
    div(class='col-md-8')
        div(class='panel panel-success')
            div(class='panel-heading')
                span #{lingua.header.main.pages.training}

                div(class='btn-group right-align')
                    a(href='#{newPostUrl}',class='btn btn-success btn-header')
                        span(class='glyphicon glyphicon-plus')
                        span #{lingua.training.create_post}
            div(class='panel-body unspace')
                if( posts.length > 0 )
                    table(class='table table-hover table-striped',width='100%',cellspacing='0',cellpadding='10')
                        each post in posts
                            tr
                                td
                                    a(href='/training/#{post.slug}',target='_self') #{post.title}
                                td(class='date-icon')
                                    span(class='glyphicon glyphicon-time')
                                td(class='date') #{post.date}
    div(class='col-md-4')
        include ../sidebar-streaming
    script(type='text/javascript').
        nav.select('training');