extend layout
block content

    div(class='col-md-8')
        div(class='panel panel-success')
            div(class='panel-heading') #{lingua.streaming.title}
            div(class='panel-body unspace stream-box')
                table(class='table table-hover table-striped')
                    tbody(id='streamingBody')
    script.
        streaming.ajax();
        download();

    div(class='col-md-4')
        div(class='panel panel-success')
            div(class='panel-heading')
                a(href='/blog',target='_self')
                    span(class='glyphicon glyphicon-file')
                    span #{lingua.header.main.pages.blog}
            div(class='panel-body unspace home-box')
                if( blog.length > 0 )
                    table(class='table table-hover table-striped',width='100%',cellspacing='0',cellpadding='10')
                        each item in blog
                            tr
                                td
                                    a(href='/blog/#{item.slug}',target='_self') #{item.title}
    div(class='col-md-4')
        div(class='panel panel-success')
            div(class='panel-heading')
                a(href='/questions',target='_self')
                    span(class='glyphicon glyphicon-question-sign')
                    span #{lingua.header.main.pages.questions}
            div(class='panel-body unspace home-box')
                if( questions.length > 0 )
                    table(class='table table-hover table-striped',width='100%',cellspacing='0',cellpadding='10')
                        each item in questions
                            tr
                                td
                                    a(href='/questions/#{item.slug}',target='_self') #{item.title}
    div(class='col-md-4')
        div(class='panel panel-success')
            div(class='panel-heading')
                a(href='/training',target='_self')
                    span(class='glyphicon glyphicon-file')
                    span #{lingua.header.main.pages.training}
            div(class='panel-body unspace home-box')
                if( training.length > 0 )
                    table(class='table table-hover table-striped',width='100%',cellspacing='0',cellpadding='10')
                        each item in training
                            tr
                                td
                                    a(href='/training/#{item.slug}',target='_self') #{item.title}