extend layout
block content
    if ( mode=='default' )
        div(class='alert alert-success') #{lingua.sing_up.activate.message}
        table(width='100%',cellspacing='20',cellpadding='20',border='0')
            tr
                td(class='td_a center')
                    img(src='/img/green-cloud270x150.png',alt='green gears')
                td(class='td_b pad center-top')
                    h2 #{lingua.sing_up.activate.connect.title}
                    p #{lingua.sing_up.activate.connect.paragraph}
        table(width='100%',cellspacing='20',cellpadding='20',border='0')
            tr
                td(class='td_a pad center-top')
                    h2 #{lingua.sing_up.activate.tools.title}
                    p #{lingua.sing_up.activate.tools.paragraph}
                td(class='td_b center')
                    img(src='/img/green-gears236x282_0.png',alt='green gears')
    else
        if (error)
            div(class='alert alert-danger') #{error}
        div Hola mundo 2