extend layout
block content
    div(class='col-md-8')
        div(class='panel panel-success')
            div(class='panel-heading')
                span(class='glyphicon glyphicon-list')
                span #{lingua.profile.activity}
            div(class='panel-body unspace')
                if( profile.activity.length > 0 )
                    table(class='table table-hover table-striped',width='100%',cellspacing='0',cellpadding='10')
                        each activity in profile.activity
                            tr
                                td
                                    !=marked(activity.content)
                                td(class='date-icon')
                                    span(class='glyphicon glyphicon-time')
                                td(class='date') #{activity.date}
    div(class='col-md-4')
        div(class='panel panel-success')
            div(class='panel-heading')
                img(src='#{profile.avatar}',class='img-circle')
                strong &nbsp; #{profile.name}
            div(class='panel-body')
                ul(class='custom')
                    li #{profile.stars.length} #{lingua.profile.starts}
                    li #{profile.modules.length} #{lingua.profile.modules}
                    li #{profile.repositories.length} #{lingua.profile.repositories}
                    li #{profile.badges.length} #{lingua.profile.badges}
    script(type='text/javascript').
        nav.select('profile');